### ------------------------------------------------------------------------------------------------
##  @filename  .gitignore
##  @author  brikcss  <https://github.com/brikcss>
##  @description  https://git-scm.com/docs/gitignore
### ------------------------------------------------------------------------------------------------

# Node
/node_modules/

# MacOS
.DS_Store

# Repo
/dist/
/.nyc_output/
/coverage/
