#! .travis.yml | @author brikcss <https://github.com/brikcss> | @reference https://docs.travis-ci.com/user/customizing-the-build/ #

language: node_js
node_js: '8'

cache:
  bundler: true
  # directories:
  #   - node_modules

notifications:
  email:
    on_failure: always

env: NODE_ENV=test

# Run script.
before_script: npm prune -d
script: npm test -d

# Semantic release to NPM and GitHub.
deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx semantic-release

# Semantic release to NPM and GitHub.
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
    - /^greenkeeper/.*$/
